doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Travel agent
    body
        include ./blocks/header.pug

        main.main
            include ./blocks/discover.pug
            include ./blocks/partners.pug
            include ./blocks/popular.pug
            include ./blocks/services.pug
            include ./blocks/explore.pug
            include ./blocks/testimonials.pug
            include ./blocks/subscribe.pug

        footer.footer 
            include ./blocks/footer.pug