.container {
  max-width: var(--container-width);
  padding-inline: var(--container-padding);
  margin-inline: auto;
}

.container-right {
  padding-left: calc(
    (100% - var(--container-width)) / 2 + var(--container-padding)
  );
}

.container-left {
  padding-right: calc(
    (100% - var(--container-width)) / 2 + var(--container-padding)
  );
}
