:root {
  --container-width: 1230px;
  --container-padding: 15px;

  --font-main: "Circular Std", sans-serif;
  --font-accent: "Circular Std", sans-serif;

  --page-bg: #ffffff;
  --text-color: #909090;
  --text-headers-color: #181818;
  --accent-color: #35aff4;

  --border: 1px solid #b7b7b7;
}
