section.services
    div.container
        div.services__blocks 
            div.services__description 
                h2.title-2.services__title Embark on unforgettable journeys with our premium travel services

                p.text.services__text Picture-perfect getaways are just a click away. Find your slice of paradise, whether it's a tropical island, a charming city, or an enchanting countryside retreat.

                div.services__advantages 
                    div.service__advantage-item 
                        span 1
                        h3 Best Choice
                        p We always prioritize our customer comfort and satisfaction. That’s why we only accept the best hotel and destination
                 
                    div.service__advantage-item 
                        span 2
                        h3 Competitive Prices
                        p Altough the price tends to be cheaper but it will not affect the quality of service
                 
                    div.service__advantage-item
                        span 3
                        h3 Refund and Reschedule
                        p Don’t worry if suddenly you have problem and want to reschule or refund, you can get fully.
            div.services__image
                img.services__image-1(src=require('./../../images/services/01.jpg'), alt="")
                img.services__image(src=require('./../../images/services/02.jpg'), alt="")
                img.services__image(src=require('./../../images/services/03.jpg'), alt="")

                div.services__custtomers 
                    img(src=require('./../../images/services/customers.png'), alt="")
                    p.services__custtomers-text #[span 10K+] Satisfied Customer


            
