section.subscribe
    div.subscribe__bg
        div.container 
            div.subscribe__row 
                div.subscribe__desc 
                    h2.subscribe__title Join our newsletter to stay up&nbsp;to&nbsp;date 
                    p.subscribe__text Stay connected with our brand
                form.subscribe__form(action="mail")
                    input.subscribe__input(type="text" placeholder="Enter your email")
                    button.button.subscribe__button(type="submit") Subscribe 