section.testimonials 
    div.container 
        div.testimonials__blocks 
            div.testimonials__first-block
                div.swiper-wrapper.smooth-transition 
                    include ./elements/reviews.pug

            div.testimonials__second-block
                div.swiper-wrapper.smooth-transition 
                    include ./elements/reviews.pug

            div.testimonials__third-block
                div.swiper-wrapper.smooth-transition 
                    include ./elements/reviews.pug

        div.testimonials__horizontal-slider
            div.swiper-wrapper.smooth-transition 
                include ./elements/reviews.pug
                    
                